<% include _header %>

<%
      if(alert==2){
           %> 
           <div class="alert alert-primary" role = "alert">seagrego</div>
           <%
      }else if(alert==1){
          %>
          <div class="alert alert-danger" role = "alert">NO seagrego porque <%=tError%></div>
          <%
      }
%>
<div class="row container">
    <div class="col-md-12">
        <form action="/cerebro/add" method="post" enctype='multipart/form-data' >
            <div class="form-group">
                <label for="">Sabor</label>
                <input type="text" class="form-control" name="flavor">
            </div>
            <div class="form-group">
                <label for="">Descripcion</label>
                <input type="text" class="form-control" name="descripcion">
            </div>
            <div class="form-group">
                <label for="">iq</label>
                <input type="number" class="form-control" name="iq">
            </div>
            <div class="form-group">
                <input type="file" accept="image/*" name="picture">
            </div>
            <button class="btn btn-primary">agregar zombie</button>
        </form>
    </div>
</div>

<% include _footer %>